<form role="form">
	{{form-input labelName = "Account Name" tabindex="1" input-value= details.DDaccName has-error=errorWarnings.DDaccName label-for="Account-Name"}}  
	{{form-input labelName = "BSB" tabindex="2" input-value= details.DDaccBSB has-error=errorWarnings.DDaccBSB label-for="BSB"}}  
	{{form-input labelName = "Account Number" tabindex="3" input-value= details.DDaccNo has-error=errorWarnings.DDaccNo label-for="Account-Number"}}  	
</form>			

