<div class="container">
	<nav class="navbar navbar-default ">
		<div class="navbar-header">
			{{#link-to 'index' tagName="a" class="navbar-brand"}}Ember{{/link-to}}
		</div>
		<ul class="nav navbar-nav collapse" id="dashboard-nav">
			<li>{{#link-to 'dashboard.personal' tagName="a" }}User Dashboard{{/link-to}}</li>
			<li>{{#link-to 'admin-dashboard' tagName="a" }}Admin Dashboard{{/link-to}}</li>
		</ul>
	</nav>
</div>
